@charset "UTF-8";
/* Tamaños de elementos */
/* Tamaños de fuente */
/* colores  */
/* BREAKPOINTS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*   border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #212529;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #212529;
  border-bottom: 1px solid #6c757d;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-left-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-left-container .logo-container img {
  width: 16rem;
}
header .header-left-container .navigation-bar .navigation-container {
  display: flex;
  gap: 10px;
}
header .header-left-container .navigation-bar .navigation-container li {
  color: #6c757d;
  list-style-type: none;
}
header .header-left-container .navigation-bar .navigation-container li a {
  color: #6c757d;
  font-size: 2.4rem;
  text-decoration: none;
}
header .header-left-container .navigation-bar .navigation-container li a:hover {
  color: #ffffff;
}
header .cart-icon-container {
  position: relative;
  padding: 1rem;
  border-radius: 2rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
header .cart-icon-container .quantity-container {
  background-color: #ffffff;
  color: #6c757d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: -4px;
  font-size: 12px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
header .cart-icon-container img {
  width: 3rem;
}

@media screen and (max-width: 768px) {
  header .header-left-container .logo-container img {
    width: 12.8rem;
  }
  header .header-left-container .navigation-bar .navigation-container li a {
    font-size: 2.08rem;
  }
}
@media screen and (max-width: 576px) {
  header {
    height: 15vh;
    align-items: center;
  }
  header .header-left-container {
    align-self: center;
  }
  header .header-left-container .logo-container img {
    width: 12rem;
  }
  header .header-left-container .navigation-bar .navigation-container li a {
    font-size: 1.92rem;
  }
  .carousel {
    height: 85vh;
  }
}
.carousel-container {
  z-index: -1;
  height: 80vh;
  width: 100%;
}
.carousel-container .carousel-item img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.carousel-container .carousel-item .container .carousel-caption h1 {
  font-size: 3.2rem;
}
.carousel-container .carousel-item .container .carousel-caption p {
  font-size: 1.6rem;
}

.top3-headings-container {
  background-color: #000000;
}
.top3-headings-container .top3-subtitle {
  margin: 5rem 0rem;
  color: #6c757d;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 350;
}
.top3-headings-container .top3-heading-container .top3-item .top3-img {
  width: 24rem;
}
.top3-headings-container .top3-heading-container .top3-item .top3-header-title {
  color: #6c757d;
}
.top3-headings-container .top3-heading-container .top3-item:hover .top3-header-title {
  color: #ffffff;
}

/* TABLETS  MAX 1200PX */
/* @media screen and (max-width: 1200px) {

} */
/* TABLETS MAX 996PX */
/* @media screen and (max-width: 996px) {
  header {
    nav {
      .desktop-nav {
        display: none;
      }
      .menu {
        display: block;
        width: $xxlg-size;
        cursor: pointer;
      }
    }
  }
} */
/* MOBILES MAX 576PX */
/* @media screen and (max-width: 576px) {
  header {
    .header-left {
      a {
        h1 {
          display: none;
        }
      }
    }
  }
} */
.top3-details-container .featurette {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
}
.top3-details-container .featurette .featurette-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.top3-details-container .featurette .featurette-details-container img {
  width: 48rem;
  margin-bottom: 4rem;
}
.top3-details-container .featurette .featurette-details-container p {
  font-size: 1.6rem;
}
.top3-details-container .featurette .featurette-img-container {
  height: 84vh;
}
.top3-details-container .featurette .featurette-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TABLETS  MAX 1200PX */
@media screen and (max-width: 1200px) {
  .top3-details-container .featurette .featurette-details-container img {
    width: 32rem;
    margin-bottom: 3rem;
  }
}
/* TABLETS MAX 996PX */
@media screen and (max-width: 996px) {
  .top3-details-container .featurette .featurette-details-container img {
    width: 32rem;
    margin-bottom: 2rem;
  }
}
/* MOBILES MAX 576PX */
/* @media screen and (max-width: 576px) {
  header {
    .header-left {
      a {
        h1 {
          display: none;
        }
      }
    }
  }
} */
footer {
  color: white;
  background-color: #212529;
}
footer .footer-top {
  height: 50vh;
  display: flex;
  align-items: center;
  padding: 0rem 3rem;
}
footer .footer-top .navigation-container {
  display: flex;
  align-items: center;
}
footer .footer-top .navigation-container .logo-container a img {
  width: 16rem;
}
footer .footer-top .navigation-container .information-container {
  display: flex;
  flex-direction: column;
}
footer .footer-top .navigation-container .information-container h3 a {
  text-decoration: none;
  color: #6c757d;
  font-size: 4rem;
}
footer .footer-top .navigation-container .information-container h3 a:hover {
  color: #ffffff;
}
footer .footer-top .navigation-container .information-container ul li {
  list-style-type: none;
}
footer .footer-top .navigation-container .information-container ul li a {
  font-size: 2.4rem;
  color: #6c757d;
  text-decoration: none;
}
footer .footer-top .navigation-container .information-container ul li a:hover {
  color: #ffffff;
}
footer .footer-top .suscribe-container form h4 {
  font-size: 3.2rem;
}
footer .footer-top .suscribe-container form p {
  font-size: 1.6rem;
}
footer .footer-bottom {
  border-top: 1px solid #6c757d;
}
footer .footer-bottom p {
  font-size: 1.6rem;
  color: #6c757d;
  padding: 2rem 0;
}

@media screen and (max-width: 992px) {
  footer .footer-top {
    align-content: normal;
  }
  footer .footer-top .navigation-container {
    justify-content: center;
  }
  footer .footer-top .navigation-container .logo-container a img {
    width: 12rem;
  }
  footer .footer-top .navigation-container .information-container h3 a {
    font-size: 3.2rem;
  }
  footer .footer-top .navigation-container .information-container ul li a {
    font-size: 1.68rem;
  }
  footer .footer-top .suscribe-container form h4 {
    font-size: 2.4rem;
  }
  footer .footer-top .suscribe-container form p {
    font-size: 1.12rem;
  }
  footer .footer-bottom {
    border-top: 1px solid #6c757d;
  }
  footer .footer-bottom p {
    font-size: 1.6rem;
    color: #6c757d;
    padding: 2rem 0;
  }
}
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #6c757d;
  background-color: black;
  width: 35vw;
  min-height: 100vh;
  padding: 1.5rem 2.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.cart-container .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-container .cart-header h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  padding: 1.5rem 1rem;
  color: #ffffff;
}
.cart-container .cart-header .cart-icon-container {
  padding: 1rem;
  cursor: pointer;
}
.cart-container .cart-header .cart-icon-container img {
  width: 2rem;
}
.cart-container .products-section-container {
  padding-bottom: 1rem;
}
.cart-container .products-section-container .product-card {
  display: flex;
  align-items: center;
  border: #6c757d 1px solid;
  border-radius: 1rem;
}
.cart-container .products-section-container .product-card .product-card-image img {
  width: 9.6rem;
}
.cart-container .products-section-container .product-card .product-card-information-container {
  display: flex;
  width: 100%;
  margin-right: 1rem;
  justify-content: space-between;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information {
  padding: 1rem 1rem 1rem 0rem;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information .product-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information .product-second-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information .product-category {
  padding: 0;
  margin: 0;
  font-size: 1.44rem;
  color: #6c757d;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information .product-volume {
  padding: 0;
  margin: 0;
  font-size: 1.12rem;
  color: #6c757d;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-information .product-price {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: #ffffff;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-modificar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-modificar .sumar,
.cart-container .products-section-container .product-card .product-card-information-container .product-card-modificar .restar {
  margin: 0;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #6c757d;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bolder;
  border: 1px solid #ffffff;
}
.cart-container .products-section-container .product-card .product-card-information-container .product-card-modificar .cantidad {
  font-size: 1.6rem;
  font-family: serif;
  color: #ffffff;
  padding: 1rem 1rem 0.2rem 1rem;
  /* margin-top: 1rem; */
}
.cart-container .products-section-container .product-card:hover {
  background-color: #6c757d;
  border: 1px solid #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-name {
  color: #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-second-name {
  color: #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-category {
  color: #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-volume {
  color: #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-price {
  color: #ffffff;
}
.cart-container .products-section-container .product-card:hover .product-card-information-container .product-card-modificar .cantidad {
  color: #ffffff;
}
.cart-container .total-display-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  border: #6c757d 1px solid;
  border-radius: 1rem;
}
.cart-container .total-display-container .total-title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.cart-container .total-display-container .total-valor {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.cart-container .btn-finalizar-compra {
  width: 100%;
  background-color: black;
  border: #6c757d 1px solid;
  border-radius: 1rem;
  padding: 1rem 1rem;
}
.cart-container .btn-finalizar-compra a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .cart-container {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .cart-container {
    width: 100vw;
  }
}
.content-products {
  background-color: #212529;
  width: 100vw;
  padding: 1rem;
}
.content-products h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #6c757d;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}
.content-products .products-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  place-content: center;
  padding-top: 2rem;
}
.content-products .products-section-container .product-card {
  background-color: #212529;
  box-shadow: 1px 1px 1px #b8a25a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: #6c757d 1px solid;
  border-radius: 1rem;
  z-index: 0;
  margin-bottom: 1rem;
}
.content-products .products-section-container .product-card .product-card-image {
  z-index: -4;
  width: 100%;
}
.content-products .products-section-container .product-card .product-card-image img {
  width: 100%;
}
.content-products .products-section-container .product-card .product-card-information {
  z-index: 0;
  width: 100%;
  padding: 1rem;
}
.content-products .products-section-container .product-card .product-card-information .product-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.content-products .products-section-container .product-card .product-card-information .product-second-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.content-products .products-section-container .product-card .product-card-information .product-category {
  padding: 0;
  margin: 0;
  font-size: 1.28rem;
  color: #6c757d;
}
.content-products .products-section-container .product-card .product-card-information .product-volume {
  padding: 0;
  margin: 0;
  font-size: 1.28rem;
  color: #6c757d;
}
.content-products .products-section-container .product-card .product-card-information .product-price {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: #ffffff;
}
.content-products .products-section-container .product-card .add-to-card-button {
  cursor: pointer;
  background-color: #8c5612;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ffffff;
}
.content-products .products-section-container .product-card:hover {
  background-color: #6c757d;
}
.content-products .products-section-container .product-card:hover .product-card-information .product-name {
  color: #ffffff;
}
.content-products .products-section-container .product-card:hover .product-card-information .product-second-name {
  color: #ffffff;
}
.content-products .products-section-container .product-card:hover .product-card-information .product-category {
  color: #ffffff;
}
.content-products .products-section-container .product-card:hover .product-card-information .product-volume {
  color: #ffffff;
}
.content-products .products-section-container .product-card:hover .product-card-information .product-price {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .content-products h1 {
    font-size: 2.4rem;
  }
  .content-products .products-section-container {
    grid-template-columns: repeat(auto-fill, 165px);
    padding-top: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .content-products .products-section-container {
    grid-template-columns: repeat(auto-fill, 165px);
    padding-top: 1rem;
  }
}
.resumen-compras-container {
  display: flex;
}
.resumen-compras-container .payment-summary {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  gap: 2rem;
}
.resumen-compras-container .payment-summary h1 {
  text-align: start;
  font-size: 3.2rem;
  text-transform: capitalize;
  color: #6c757d;
}
.resumen-compras-container .payment-summary .contact-info h2 {
  font-size: 2.4rem;
}
.resumen-compras-container .payment-summary .contact-info form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.resumen-compras-container .payment-summary .contact-info form label input {
  min-width: 200px;
  border: #6c757d 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.28rem;
  font-size: 1.6rem;
}
.resumen-compras-container .payment-summary .contact-info form .email-label input {
  width: 320px;
}
.resumen-compras-container .payment-summary .delivery-info h2 {
  font-size: 2.4rem;
}
.resumen-compras-container .payment-summary .delivery-info form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.resumen-compras-container .payment-summary .delivery-info form label input {
  width: 300px;
  border: #6c757d 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}
.resumen-compras-container .payment-summary .payment-info h2 {
  font-size: 2.4rem;
}
.resumen-compras-container .payment-summary .payment-info label input {
  width: 300px;
  border: #6c757d 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}
.resumen-compras-container .purchase-summary {
  padding: 1rem 3rem;
  background-color: #000000;
  min-height: 80vh;
}
.resumen-compras-container .purchase-summary .cart-header {
  text-align: start;
}
.resumen-compras-container .purchase-summary .cart-header h3 {
  font-size: 3.2rem;
  text-transform: capitalize;
  padding: 0rem 1rem 1.5rem 1rem;
  color: #6c757d;
}
.resumen-compras-container .purchase-summary .products-section-container {
  padding-bottom: 1rem;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card {
  display: flex;
  align-items: center;
  border: #6c757d 1px solid;
  border-radius: 1rem;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-image img {
  width: 9.6rem;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container {
  display: flex;
  width: 100%;
  margin-right: 1rem;
  justify-content: space-between;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information {
  padding: 1rem 1rem 1rem 0rem;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information .product-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information .product-second-name {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information .product-category {
  padding: 0;
  margin: 0;
  font-size: 1.44rem;
  color: #6c757d;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information .product-volume {
  padding: 0;
  margin: 0;
  font-size: 1.12rem;
  color: #6c757d;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-information .product-price {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-modificar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-modificar .sumar,
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-modificar .restar {
  margin: 0;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #6c757d;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bolder;
  border: 1px solid #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card .product-card-information-container .product-card-modificar .cantidad {
  font-size: 1.6rem;
  font-family: serif;
  color: #ffffff;
  padding: 1rem 1rem 0.2rem 1rem;
  /* margin-top: 1rem; */
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover {
  background-color: #6c757d;
  border: 1px solid #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-name {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-second-name {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-category {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-volume {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-information .product-price {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .products-section-container .product-card:hover .product-card-information-container .product-card-modificar .cantidad {
  color: #ffffff;
}
.resumen-compras-container .purchase-summary .discount-container {
  padding: 0rem 0rem 1rem 0rem;
  width: 100%;
}
.resumen-compras-container .purchase-summary .discount-container .label {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  gap: 1rem;
}
.resumen-compras-container .purchase-summary .discount-container .label input {
  border: #6c757d 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.28rem;
}
.resumen-compras-container .purchase-summary .discount-container .label button {
  border: #6c757d 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.28rem;
  font-weight: bolder;
}
.resumen-compras-container .purchase-summary .total-display-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  border: #6c757d 1px solid;
  border-radius: 1rem;
}
.resumen-compras-container .purchase-summary .total-display-container .total-title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.resumen-compras-container .purchase-summary .total-display-container .total-valor {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .resumen-compras-container .payment-summary {
    order: 2;
  }
}
.inactive {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
