footer {
  color: white;
  border: 1px solid $color-gris-secundario;
  background-color: $color-gris-principal;
  margin-top: 10rem;

  .footer-top {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0rem 3rem;

    .navigation-container {
      display: flex;
      align-items: center;
      .logo-container {
        a {
          img {
            width: $xxlg-size;
          }
        }
      }

      .information-container {
        display: flex;
        flex-direction: column;
        h3 {
          a {
            text-decoration: none;
            color: $color-gris-secundario;
            font-size: $hipertitulo;
            &:hover {
              color: $color-white;
            }
          }
        }
        ul {
          li {
            list-style-type: none;

            a {
              font-size: $subtitulo;
              color: $color-gris-secundario;
              text-decoration: none;
              &:hover {
                color: $color-white;
              }
            }
          }
        }
      }
    }

    .suscribe-container {
      form {
        h4 {
          font-size: $titulo;
        }
        p {
          font-size: $parrafo;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid $color-gris-secundario;
    p {
      font-size: $parrafo;
      color: $color-gris-secundario;
      padding: 2rem 0;
    }
  }
}

@media screen and (max-width: 992px) {
  footer {
    .footer-top {
      align-content: normal;
      .navigation-container {
        justify-content: center;
        .logo-container{
          a{
            img{
              width: $xlg-size;
            }
          }
        }
        .information-container{
          h3 {
            a {
              font-size: $titulo;
            }
          }
          ul {
            li {

              a {
                font-size: $subtitulo*0.7;
              }
            }
          }
        }
      }

      .suscribe-container {
        form {
          h4 {
            font-size: $subtitulo;
          }
          p {
            font-size: $parrafo*0.7;
          }
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $color-gris-secundario;
      p {
        font-size: $parrafo;
        color: $color-gris-secundario;
        padding: 2rem 0;
      }
    }
  }
}
