header {
  background-color: $color-gris-principal;
  border-bottom: 1px solid $color-gris-secundario;

  align-items: center;

  .header-left-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo-container {
      img {
        cursor: pointer;
        width: $xxlg-size;
      }
    }

    .navigation-bar {
      .navigation-container {
        display: flex;
        gap: 10px;
        li {
          color: $color-gris-secundario;
          list-style-type: none;

          a {
            color: $color-gris-secundario;
            font-size: $parrafo * 1.5;
            text-decoration: none;
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .cart-icon-container {
    position: fixed;
    top: 2rem;
    right: 0;
    padding: 1rem ;
    border-radius: 2rem 0 0 2rem;
    border: 2px solid $color-white;
    background-color: $color-naranja-principal;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    img {
      width: $sm-size;
    }
    
  }
}

@media screen and (max-width: $medium) {
  header {
    .header-left-container {
      .logo-container {
        img {
          width: $xxlg-size * 0.8;
        }
      }

      .navigation-bar {
        .navigation-container {
          li {
            a {
              font-size: $parrafo * 1.3;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  header {
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .header-left-container {
      align-self: center;
      .logo-container {
        img {
          width: $xlg-size;
        }
      }

      .navigation-bar {
        .navigation-container {
          li {
            a {
              font-size: $parrafo * 1.2;
            }
          }
        }
      }
    }
  }

  .carousel {
    height: 85vh;
  }
}
