header {
  position: sticky;
  background-color: $color-gris-principal;
  border-bottom: 1px solid $color-gris-secundario;
  .header-left-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo-container {
      img {
        cursor: pointer;
        width: $xxlg-size;
      }
    }

    .navigation-bar {
      .navigation-container {
        display: flex;
        gap: 10px;
        li {
          color: $color-gris-secundario;
          list-style-type: none;

          a {
            color: $color-gris-secundario;
            font-size: $parrafo * 1.5;
            text-decoration: none;
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .header-rigth-container {
    position: fixed;
    z-index:  1;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem;
    border-radius: 4rem;
    border: 2px solid $color-gris-secundario;
    background-color: $color-naranja-principal;
    .cart-icon-container {
      img {
        cursor: pointer;
        width: $md-size;
      }
      .quantity-added-container {
        position: absolute;
        top: 0.8rem;
        right: 2rem;
        font-size: $nota*1.5;
        color: $color-gris-secundario;
        font-weight: bolder;
      }

    }
    &:hover{
      border:2px solid $color-white;
      .cart-icon-container{
        .quantity-added-container{
          color:$color-white;
        }
      }
      
    }
  }
}


@media screen and (max-width: 768px) {
  header {
    .header-left-container {
      .logo-container {
        img {
          width: $xxlg-size*0.8;
        }
      }
  
      .navigation-bar {
        .navigation-container {
          li {
            a {
              font-size: $parrafo * 1.3;
            }
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 576px) {
  header {
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .header-left-container {
      align-self: center;
      .logo-container {
        img {
          width: $xlg-size;
        }
      }
  
      .navigation-bar {
        .navigation-container {
          li {
            a {
              font-size: $parrafo * 1.2;
            }
          }
        }
      }
    }
  
  }

  .carousel{
    height: 85vh;
  }
}