/* Tamaños de elementos */

$xsm-size:1rem;
$sm-size:2rem;
$md-size:4rem;
$lg-size:8rem;
$xlg-size:12rem;
$xxlg-size:16rem;

/* Tamaños de fuente */
$nota:0.8rem;
$parrafo:1.6rem;
$subtitulo:2.4rem;
$titulo:3.2rem;
$hipertitulo:4rem;

/* colores  */
$color-gris-principal:#212529;
$color-gris-secundario: #6c757d;
$color-amarillo-principal: #b8a25a;
$color-naranja-principal: #8c5612;

$color-white: #ffffff;
$color-black: #000000;

/* BREAKPOINTS */
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 992px;



